services:
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    network_mode: host 
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    restart: always
